<div>

  <div class="header">
    <h3>Contact me</h3>
  </div>
  <div>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="exampleInputname" placeholder="Enter your name here">

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

        </div>

        <div class="form-group">
          <label for="exampleInputphoneno">Phone Number</label>
          <input type="phoneno" class="form-control" id="exampleInputphoneno" placeholder="Phone Number">
        </div>

        <div class="form-group">
          <label for="message">message</label>
          <input type="text" class="form-control" id="exampleInputmessage"
                 placeholder="Enter your messsage here">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div>
            <span>
                <h3>I'm a result oriented individual with hunger and passion to achieve greater height by creating value to the users</h3>
                <h5>If you like my work, feel free to contact me.</h5>
            </span>
      <div>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/ChaturvediKabeer"><i
            class="fab fa-facebook-f"></i>facebook</a></li>
          <li><a target="_blank" href="https://twitter.com/ckabeer07"><i class="fa fa-twitter-square"></i>twitter</a>
          </li>
          <li><a href="https://github.com/kabeerchaturvedi"> <i class="fa fa-github">github</i></a></li>
          <li><a target="_blank" href="www.linkedin.com/in/kabeerchaturvedi"><i
            class="fa fa-linkedin-square"></i>linkedin</a></li>
        </ul>


      </div>
    </div>
  </div>

</div>
