
 <div class="center">
  <h3>Contact me</h3>
</div>
<!-- GetButton.io widget -->
<!-- <script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+91-9680119178", // WhatsApp number
          email: "kbrchaturvedi@gmail.com", // Email
          call_to_action: "Message us", // Call to action
          button_color: "#000000", // Color of button
          position: "right", // Position may be 'right' or 'left'
          order: "whatsapp,email", // Order of buttons
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script> -->
<!-- /GetButton.io widget -->


<div class="kb-container">
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-40c802ce-ad56-47f0-a642-5c2073c206da">widget</div>
    <div class="info">
  
    <div class="kb-about">
            <span>
                <h3>I'm a result oriented individual with hunger and passion to achieve greater height by creating value to the users</h3>
                <h5>If you like my work, feel free to contact me.</h5>
            </span>
  
    </div>
  </div>
  <div>
    <i class="fa fa-whatsapp fa-2x">WhatsApp me</i>
  </div>
  <div class="wrapper">
    <div class="icon github">
      <div class="tooltip">
        Github</div>
      <span><i class="fa fa-github-square fa-2x" aria-hidden="true">
          <a href="https://github.com/kabeerchaturvedi" target="_github"></a>
        </i>
      </span>
    </div>

    <div class="icon linkedin">
      <div class="tooltip">
        Linkedin</div>
      <span>
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true">
          <a href="www.linkedin.com/in/kabeerchaturvedi" target="_linkedin">
          </a>
        </i>
      </span>
    </div>

    <div class="icon facebook">
      <div class="tooltip">
        Facebook</div>
      <span><i class="fa fa-facebook-f fa-2x" aria-hidden="true">
          <a href="https://www.facebook.com/ChaturvediKabeer" target="_fb">
          </a>
        </i>
      </span>
    </div>


    <div class="icon twitter">
      <div class="tooltip">
        Twitter</div>
      <span>
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true">
          <a href="https://twitter.com/ckabeer07" target="_twitter">
          </a>
        </i>
      </span>
    </div>

    <div class="icon instagram">
      <div class="tooltip">
        Instagram</div>
      <span>
        <i class="fa fa-instagram fa-2x" aria-hidden="true">
          <a href="https://www.instagram.com/kabeerchaturvedi/" target="_insta">
          </a>
        </i>
      </span>
    </div>
  </div>
 
</div>
<footer class="page-footer  darken-4">
  <div class="footer-copyright">
      <div  class="container center">
        Copyright <i  class="fa fa-copyright"></i> Kabeer Chaturvedi 2021
      </div>
  </div>
</footer>
