
  * {
    box-sizing: border-box;
     
}

.body{
  font-family: "Poppins", sans-serif;
  margin:0px;
  display: flex;
  

}
.kb-container {
  height: 100vh;
  display: flex;
 
  min-width:1280px !important;
  width:100%;
  
}

.navbar {
  margin: 0;
   padding: 0;
   width: 150px;
   height: 100vh;
    background-color: #000000	;
   overflow: auto;
   display: flex;
   flex-direction:column;
   justify-content: space-between;
 }

.navbar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.main-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  flex-grow:1;
}

.home{
  background-color: #F8F9FA;

}