.body{
  font-family: "Poppins", sans-serif;
  margin:0px;

}
.container {
  height: 100vh;
  display: flex;
  width:100%;

}

.navbar {
  width: 20%;
  height: 100%;
   margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: auto;
}

.navbar .a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.main-content {
  width: 80%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
