<div class="container">
  <div class="navbar">
    <li><a routerLink="">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#lang">Frameworks & Languages</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contactme">Contact me!</a></li>
  </div>
  <div class="main-content">
    <div id="about">
      <app-about></app-about>
    </div>
    <div id="projects">
      <app-contact></app-contact>
    </div>
    <div>
      <app-lang></app-lang>
    </div>
  </div>
</div>
