<div class="container">
  <div class="navbar">
    <a routerLink="">Home</a>
    <a href="#about">About</a>
    <a href="#lang">Frameworks & Languages</a>
    <a href="#projects">Projects</a>
    <a href="#contactme">Contact me!</a>
  </div>
  <div class="main-content">
    <div id="home" style="height: 100%">
      <app-home></app-home>
    </div>
    <div id="about" style="height: 100%">
      <app-about></app-about>
    </div>
    <div id="lang" style="height: 100%">
      <app-lang></app-lang>
    </div>
    <div id="projects" style="height: 100%">
      <app-projects></app-projects>
    </div>
    <div id="contactme" style="height: 100%">
      <app-contact></app-contact>
    </div>
   
   
  </div>
</div>
