<div class="container">
  <div class="navbar">
<li><a routerLink="">Home</a></li>
<li><a href="/about">About</a></li>
<li><a routerLink="/lang">Frameworks & Languages</a></li>
<li><a routerLink="/projects">Projects</a></li>
<li><a routerLink="/contactme">Contact me!</a></li>
  </div>
  <div class="main-content">
    <div class="row"> 
      <div class="col" style="height:100vh;">1</div> 
      <div class="col" style="height:100vh;" id="about"></div> 
      <div class="col">3</div> 
      <div class="col">4</div> 
      <div class="col">5</div> 
     </div> 
  </div>
</div>
<!-- <router-outlet></router-outlet> -->