<div class="container">
    
     <div class="lists">
        <ul class="list-inline">
            <li><a href="https://github.com/kabeerchaturvedi" target="_gitgub" class="text-dark"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href="www.linkedin.com/in/kabeerchaturvedi" target="_linkedin" class="text-dark"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>		   
            <li><a href="https://www.facebook.com/ChaturvediKabeer" target="_fb" class="text-dark"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/ckabeer07" target="_twitter" class="text-dark"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/kabeerchaturvedi/" target="_insta" class="text-dark"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
     </div>   
    
    


    <div style="width: 30%; float:left" class="grid">
      <h3>Hi There!</h3>  
      <h4>My Name is Kabeer Chaturvedi!</h4>  
      <h5>Welcome to my website!</h5>
     

     <div class="info">
         <span> <a  target="_gmail" class="text-dark">
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
            kbrchaturvedi@gmail.com</a></span> <br>
         <span>
            <h5><i class="fa fa-location-arrow"></i>Mumbai,India</h5>
         </span> 
     </div>
     
     <a href="http://sjwebtech.com/resume.pdf" target="_resume" class="waves-effect waves-light btn-large">
        <span>
            <i class="fa fa-inbox"></i>
        </span>
        <span>Downland My CV</span> 
    </a>
    </div>
     
     <div style="width: 70%; float:right">
        <div style="width: 50%; float:right">
            <img  alt="image of kabeer" class="avatar1 z-depth-5" src="assets/kabeer.JPG" 
    style="border-radius: 100%; width: 65%;">
    
        </div>
     </div>


</div>
