<div>
  <div class="center">
    <h3>Projects</h3>
  </div>
  <div>
    <div>
      <img src="assets/Covid.PNG"
           style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
    </div>
    <div>
      <h3>
        This project was made on ReactJS,along with the help of NodeJS in which the user could select different
        countries and see the live status of covid
        patients.
      </h3>
    </div>
  </div>
  <div>
    <div>
      <img src="assets/Covid.PNG"
           style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
    </div>
    <div>
      <h3>
        This project was made on ReactJS,along with the help of NodeJS in which the user could select different
        countries and see the live status of covid
        patients.
      </h3>
    </div>
  </div>

</div>


