<div class="container">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


  <div class="center">
    <span>
      <h3>Frameworks & Languages</h3>
    </span>
  </div>
  <div class="row">

    <div class=" column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/angular-logo.svg"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Angular<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/React.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">React<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/mongodb.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">MongoDB<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/NodeJS.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">NodeJS<i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>





  <div class="card-content" style="background-color: darkgray;">
    <h4 class="brown-text light">Build Tools</h4>
    <div class="row text-center">
      <div class="col s4 m2">
        <img alt="" src="assets/webpack.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">Webpack
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/Gulp.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">Gulp
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/Grunt.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">Grunt
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/Bower.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">Bower
      </div>
    </div>
  </div>

  <div class="card-content" style="background-color: darkgray;">
    <h4 class="brown-text light">Front-end</h4>
    <div class="row text-center">
      <div class="col s4 m2">
        <img alt="" src="assets/html.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">html5
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/js.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">JavaScript
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/css.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">css3
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/bootstrap.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">bootstrap
      </div>
    </div>
  </div>

  <div class="card-content" style="background-color: darkgray;">
    <h4 class="brown-text light">others</h4>
    <div class="row text-center">
      <div class="col s4 m2">
        <img alt="" src="assets/materialize.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">materialize
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/mysql.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">mysql
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/oracledb.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">oracledb
      </div>
      <div class="col s4 m2">
        <img alt="" src="assets/github.png" class="responsive-img"
          style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">github
      </div>
    </div>
  </div>
</div>